@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

::selection {background: #999999;}
::-webkit-scrollbar-button { background-color: yellow }

* {
    text-align: center;
    margin: 0px;
}

header {
    border: 1px;
    padding: 5px;
    margin: 5px
}

body {
    background-color: #DEE4E7;
    /* background-color: #a0a0a0; */
}

div {
    width: 600px;
    margin: 0px auto
}

label {
    display: inline-block;
    width: 210px;
    text-align: center;
    line-height: 40px;
    font-family: 'Space Mono', monospace;
}

input {
    width: 400px;
    padding: 5px;
    margin: 2px;
    border: 1px solid #999999;
    border-radius: 4px;
    background-color: rgb(204, 204, 204);
    color: black;
    font-family: 'Space Mono', monospace;
}

textarea {
    overflow: auto;
    min-width: 400px;
    max-width: 400px;
    min-height: 100px;
    max-height: 100px;
    width: 400px;
    padding: 5px;
    margin: 2px;
    border: 1px solid #999999;
    border-radius: 4px;
    background-color: rgb(204, 204, 204);
    color: black;
    font-family: 'Space Mono', monospace;
}

#foda1 {
    color: #979797;
    font-family: 'Inconsolata', monospace;
}

#voltar {
    background-color: transparent;
    border: 2px solid rgb(107, 107, 107);
}