@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
    margin: 0px;
    background-color: #DEE4E7;
}

div {
    position: relative;
    text-align: center;
}

header {
    border: 1px;
    padding: 5px;
    margin: 5px
}

#foda1 {
    font-family: monospace;
    color: black;
    margin: 5px;
}

#foda2 {
    color: rgb(87, 87, 87); 
    font-family: 'Inconsolata', monospace;
    padding: 10px;
}

#foda3 {
    padding: 10px;
    font-family: 'Lato', sans-serif;
}