@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&display=swap');

::selection {background: #999999;}

* {
    margin: 0px;
    background-color: #DEE4E7;
}

div {
    position: relative;
    text-align: center;
    font-family: 'Inconsolata', monospace;
}

header {
    text-align: center;
    /* color: rgb(87, 87, 87); */
    color: #979797; 
    font-family: 'Inconsolata', monospace;
    padding: 10px;
    border: 1px;
    margin: 5px
}

article::first-letter {
    font-family: 'DM Mono', monospace;
    text-transform: uppercase;
    font-size: 25px;
}
